html {

/* Background CSS */
	background: url(assets/images/question_mark_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;

}

.header {

		background-color: gray;

}

.footer {

	background-color: gray;

}

.optionbutton {

    margin: 0;
    background-color: transparent;
    text-align: center;

	
}